<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <% if @user.exercises.count > 0 %>
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <% @user.last_sessions(@session).each do |session| %>
              <li role="presentation">
                <a href="#<%= session.exercise.id %>" aria-controls="" role="tab" data-toggle="tab">
                <%= session.exercise.title %></a>
              </li>
            <% end %>
          </ul>
          <div class="tab-content">
            <% @user.last_sessions(@session).each do |session| %>
            <div role="tabpanel" class="tab-pane subheader" id="<%= session.exercise.id %>">
              <br>
              <p class="bold-blue"><%= session.exercise.description %></p>
              <%= form_for([session.exercise, session]) do |f| %>

              <% session.exercise.questions.each do |question| %>
                <% session.answers.new(question: question, session_id: session.id) unless question.answers.where(session_id: session.id).any? %>
              <% end %>

              <%= f.fields_for :answers do |a| %>
                <div class="field form-group", id="exercise-form">
                <% if a.object.id.nil? %>
                  <%= label_tag a.object.question.title %>
                  <%= a.hidden_field :original_question, value: a.object.question.title %>
                  <%= a.hidden_field :question_id %>
                <% else %>
                  <%= label_tag a.object.original_question %>
                <% end %>
                  <%= a.object.question.description %>
                  <%= a.text_area :content, rows: "3", class: "form-control form-text-answer" %>
                </div>
              <% end %>

                <%= f.submit "Save my story", class: "btn btn-primary" %>
                <% end %>
            </div>
            <% end %>

          </div>
        </div>
      <% end %>

    <% else %>
      <%= form_for([@exercise, @session]) do |f| %>
        <% @exercise.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <%= f.fields_for :answers do |a| %>
          <div class="field form-group", id="exercise-form">
            <%= label_tag a.object.question.title %>
            <br><%= a.object.question.description %>
            <%= a.hidden_field :original_question, value: a.object.question.title %>
            <%= a.hidden_field :question_id %>
            <%= a.hidden_field :exercise_id %>
            <br>
            <%= a.text_area :content, rows: "3", class: "form-control form-text-answer" %>
          </div>
        <% end %>
        <%= f.submit "Save my story", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
