<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <div class="page-header">
      <h1><%= @exercise.title %></h1>
      <h4><%= @exercise.description %></h4>
    </div>
      <%= form_for([@exercise, @session]) do |f| %>
        <%= f.fields_for :answers do |a| %>
          <div class="field form-group", id="exercise-form">
            <%= label_tag a.object.question.title %>
            <br><%= a.object.question.description %>
            <%= a.hidden_field :original_question, value: a.object.question.title %>
            <%= a.hidden_field :question_id %>
            <br>
            <%= a.text_area :content, rows: "3", class: "form-control" %>
          </div>
        <% end %>
        <%= f.submit "Save my exercise", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<!-- <form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->