<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 page-header">
      <h1><%= t '.title_for', title: @track.title %></h1>
      <h4><%= t '.header' %></h4>
    </div>
    <div class="col-xs-6 col-xs-offset-3 page-body">
      <p><%= t '.warmup' %></p>
      <% @exercises.each do |exercise| %>
      <p><%= link_to exercise.title, new_exercise_session_path(exercise) %></p>
      <% end %>
    </div>
    <div class="col-xs-6 col-xs-offset-3 page-btn">
      <div class="actions">
        <%= link_to "Update my stories", dashboards_index_path, class: "btn btn-lg btn-exo" %>
      </div>
    </div>
  </div>
</div>

